.denominations {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
